# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/
ENV.bak/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.whl

# Local development settings
config_private.py

# IDE files
.vscode/
.idea/

# Miscellaneous
*.log
*.swp
*.bak
*.tmp
*.DS_Store
*.bak
*.bak.*
*.json

# Include JSON files in .devcontainer
!.devcontainer/*.json